{% extends 'layaout.html' %} {% block content %}
<!-- añadir esto , pero no recomendable -->
<!-- data-masonry='{"percentPosition": true }' -->
<div class="row row-cols-1 row-cols-md-3 g-4 text-center"  id="cartitas">

    {% for carta in cartas %}

    <div class="col-md-4 col-sm-6 p-4" id="cuto">
        <div class="card">
            <img loading="lazy"
            src={{ carta.Url }}
            class="img-top"
             >

          <div class="card-header">{{ carta.title }}</div>
          <div class="card-body">
            <h5 class="card-title" id="cuto2">{{ carta.name }}</h5>
            <p class="card-text">{{ carta.description|truncatechars:50 }}<strong><a href="/cartas/{{ carta.id }}/" style="text-decoration: none; color: white"> » </a></strong></p>
           
          </div>
          <div>
            <a href="{% url 'updatecarta' carta.id  %}"   class="btn btn-primary">update</a>
          <a href="{% url 'deletecarta' carta.id  %}"  class="btn btn-danger">Delete</a>
          </div>
       
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}