{% extends 'layaout.html' %} 

{% block content %}

<form action="{% url 'updateCartaid' %}" method="POST">
    {% csrf_token %}
    <fieldset>
      <legend>Actualice el personaje</legend>
      <input id="prodId" name="idt" type="hidden" value="{{ carta.id }}">
      <div class="form-group">
        <label for="example2" class="form-label mt-4">Titulo</label>
        <input type="text" name="titulo" class="form-control" id="exampleInputPassword1" value="{{ carta.title }}">
      </div>

      <div class="form-group">
        <label for="example1" class="form-label mt-4">Name</label>
        <input type="text" name="name" class="form-control" id="example1" value="{{ carta.name }}">
      </div>

      <div class="form-group">
        <label for="exampleTextarea" class="form-label mt-4">Descripcion</label>
        <textarea class="form-control" name="description" id="exampleTextarea" rows="3">{{ carta.description }}</textarea>
      </div>

      <div class="form-group">
        <label for="example1" class="form-label mt-4">Url</label>
        <input type="url" name="Url" class="form-control" id="url" value="{{ carta.Url }}">
      </div>

      <br/> 
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </fieldset>
  </form>

{% endblock %}